{% comment %} {% load sass_tags %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid border-bottom d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center py-2">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Our Office</h6>
                        <span>123 Street, Abc City, India</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center border-start border-end py-2">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Email Us</h6>
                        <span>info@example.com</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center py-2">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Call Us</h6>
                        <span>+91 987-654-3210</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand ms-lg-5">
            <h1 class="m-0 text-uppercase text-dark" >
                <i class="bi bi-shop fs-1 text-primary me-3"></i>
                Pet Shop
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                {% if sessionuser == None and sessionvendor == None %}
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'product' %}" class="nav-item nav-link">Product</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login</a>
                    <div class="dropdown-menu m-0 text-center">
                        <a href="{% url 'userlogin' %}" class="dropdown-item">USER LOGIN</a>
                        <a href="{% url 'vendorlogin' %}" class="dropdown-item">VENDOR LOGIN</a>    
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i class="bi bi-arrow-right"></i></a>
                {% elif sessionuser %}
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'product' %}" class="nav-item nav-link">Product</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{name.username}}</a>
                    <div class="dropdown-menu m-0 text-center">
                        <a href="{% url 'userprofile' %}" class="dropdown-item">PROFILE</a>
                        <a href="{% url 'userchangepass' %}" class="dropdown-item">CHANGE PASSWORD</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">LOGOUT</a>
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i class="bi bi-arrow-right"></i></a>
                {% elif sessionvendor %}
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'vendorproduct' %}" class="nav-item nav-link active">Vendor Product</a>
                <a href="{% url 'product' %}" class="nav-item nav-link">Product</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{name.vendorname}}</a>
                    <div class="dropdown-menu m-0 text-center">
                        <a href="{% url 'userprofile' %}" class="dropdown-item">PROFILE</a>
                        <a href="{% url 'userchangepass' %}" class="dropdown-item">CHANGE PASSWORD</a>
                        <a href="{% url 'vendorlogout' %}" class="dropdown-item">LOGOUT</a>
                    </div>
                </div>
                
                {% else  %}

                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
{% block content %}

{% endblock  %}


    

    <!-- Footer Start -->
    <div class="container-fluid bg-light mt-5 py-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-5 col-md-4">
                    <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Get In Touch</h5>
                    <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor</p>
                    <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>info@example.com</p>
                    <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+012 345 67890</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-body mb-2" href="{% url 'index' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                        <a class="text-body mb-2" href="{% url 'about' %}"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                        <a class="text-body mb-2" href="{% url 'service' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                        <a class="text-body" href="{% url 'contact' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Follow Us</h5>                    
                    <div class="d-flex">
                        <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-outline-primary btn-square me-2" href="#"><i class="bi bi-linkedin"></i></a>
                        <a class="btn btn-outline-primary btn-square" href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="col-12 text-center text-body">
                    <a class="text-body" href="#">Terms & Conditions</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="#">Privacy Policy</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="#">Customer Support</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="#">Payments</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="#">Help</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="#">FAQs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>